.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: black;
	color: white;
}
.nav-ul-element {
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}
.nav-ul-element > li {
	margin: 15px;

	color: white !important;
	font-size: 20px;
	font-weight: bold;
}
.li-item {
	color: white !important;
	text-decoration: none;
}
